@import '../../styles/variables.scss';
.swatch {
  padding: 7px;
  background: white;
  border: 1px solid $color-black-60;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  height: 30px;
  font-size: $size-12;
  font-weight: 400;
  color: $color-black-60;
}

.color {
  width: 14px;
  height: 14px;
  border: 1px solid $color-black-20;
  border-radius: 3px;
}

.popover {
  position: absolute;
  z-index: 2000;
}

.cover {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
