@import "../../../styles/variables";


.customSelect {
  display: flex;
  padding: 7px;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 0;
  border-radius: 5px;
  border: 1px solid $color-blue-dark-100;
}
