@import '../../styles/variables.scss';

.options-group.collapsed > div > .group-header {
  h5 {
    color: $color-blue-dark-100;
  }
}

.options-group {
  height: auto;
  overflow: visible;
  border-bottom: 1px solid $color-blue-dark-5;

  .group-header {
    padding: 5px 10px;
    height: 28px;
    background: $color-blue-dark-100;
    border-bottom: 1px solid $color-blue-5;
  }
  .collapse-button {
    font-size: 14px;
    color: $color-black-0;
  }

  &.collapsed {
    height: 28px !important;
    overflow: hidden;

    .label-chart-option {
      color: $color-blue-dark-100;
    }

    &:last-child {
      border-bottom: 0;
      border-radius: 0 0 5px 5px;
    }

    .group-header {
      border-bottom: 1px solid $color-blue-dark-5;
      background-color: $color-blue-dark-5;
    }

    .collapse-button {
      color: $color-blue-dark-100;
    }

    .group-header {
      &:before {
        display: block;
        width: 100%;
        height: 100%;
        background-color: var(--gray-bg);
        position: absolute;
        left: -15px;
        z-index: -10;
        opacity: 0.8;
        backdrop-filter: blur(1px);
        transition: opacity 0.5s ease;
      }

      &:first-child {
        border-radius: 3px 3px 0 0 !important; //no está haciendo efecto, pero no sé si es necesario aún
      }
    }

    .group-header {
      &:before {
        opacity: 1;
      }
    }
  }
}

.color-scheme-dropdown-item {
  margin: 0;
  height: 48px !important;
  border-bottom: none !important;
}

.chart-options {
  border: 1px solid $color-blue-dark-100;
  border-radius: 5px;
}

.label-chart-option {
  color: $color-black-0;
  font-size: 14px;
  font-weight: 300;
}

.chart-options {
  .chart-option {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;

    height: 48px;
    background: $color-blue-dark-5;
    border-bottom: 1px solid $color-blue-5;

    input {
      font-size: 12px;
    }

    &.color-swatch {
      height: 38px;

      .color-scale-item {
        padding-right: 0;
      }
    }
  }

  .chart-option .chart-option-label,
  .color-swatches-list .chart-option-label {
    font-weight: 300;
    font-size: 14px;
    color: $color-blue-dark-100;
    padding-left: 10px;
    padding-right: 0;
    &.small {
      font-size: 12px;
      color: $color-black-80;
    }
  }
}
